<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>FILEUP | Get started</title>
  </head>
  <body class="bg-zinc-100">
    <%-include('./partials/getStartedNavbar.ejs')%>
    <div
      class="flex justify-center items-center gap-3 text-gray-800 min-h-screen"
    >
      <div class="flex flex-col gap-3">
        <div class="sm:flex items-baseline gap-4">
          <h1
            class="text-3xl sm:border-r-2 sm:border-black pr-4 font-bold font-mono"
          >
            Welcome to <span class="font-medium text-zinc-700">FILEUP</span>
          </h1>
          <p class="text-zinc-600 w-28 mt-2 sm:mt-0" id="upload">Upload</p>
        </div>
        <p class="text-blue-600 border-b-2 text-center border-blue-500 w-max mx-auto sm:hidden">
          <a href="/sign-up">Get started</a>
        </p>
      </div>
    </div>
    <script>
      const extensions = [
        'Txt',
        'Pdf',
        'Docx',
        'Xlsx',
        'Png',
        'Jpg',
        'Gif',
        'Mp4',
        'Mp3',
        'Zip',
        'Json',
        'Xml',
        'Html',
        'Css',
        'Js',
      ];

      let currentExtensionIndex = 0;

      const uploadParagraph = document.querySelector('#upload');

      function renderNextExtension() {
        const oldSpanElement = uploadParagraph.querySelector('span');
        if (oldSpanElement) {
          oldSpanElement.remove();
        }
        const newSpanElement = document.createElement('span');
        newSpanElement.className =
          'ml-2 inline-block animate-slideTopBottom text-emerald-700 font-bold';
        newSpanElement.textContent = extensions[currentExtensionIndex];
        uploadParagraph.appendChild(newSpanElement);

        currentExtensionIndex = (currentExtensionIndex + 1) % extensions.length;
      }

      setInterval(() => {
        renderNextExtension();
      }, 1000);

      renderNextExtension();
    </script>
  </body>
</html>
