<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>FILEUP | Home</title>
  </head>
  <body>
    <div class="flex">
      <%-include('./partials/sidebar.ejs')%>
      <div>
        <h1>Content</h1>
      </div>
    </div>
  </body>
</html>
